body{
	background:images/subway.jpg;
	font-family:Verdana, Geneva, sans-serif;
}

h1{

	color:#4A4E56;
}

#slogan{
	color:#2C1317;

}


hr{
	width:250px;
	color:#CBD4CD;
}

p{
	color:#D0B07;
}

#mail{
	color:#2C1317;
}


ul{

	color:#2C1317;

}


